<h4>Create A New Landmark</h4>
<form class="" action="/landmarks" method="post">

  <p>name<input type="text" name="landmark_name" id="landmark[name]"></p>
  <p>year<input type="text" name="landmark_year_completed" id="landmark[year_completed]"></p>

  <input type="submit" value="Create New Landmark">

</form>
